.searchBar input {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
}

.searchBar button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  width: 33px;
  height: 33px;
  border: 1px;
  border-radius: 100%;
  vertical-align: middle;
  cursor: pointer;
}
