.App {
  /* text-align: center; */
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* background-image: url("./img/rickAndMortyBG.png"); */
  /* background-image: url("./img/rickAndMortyBG2.png"); */
  background-image: url("./img/rickAndMortyBG3.png");
}
