.App {
  /* text-align: center; */
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat fixed center;
  background-size: cover;
  /* background-image: url("./img/rickAndMortyBG.png"); */
  /* background-image: url("./img/rickAndMortyBG2.png"); */
  background-image: url("./img/rickAndMortyBG3.png");
}
